.productCategory {
    padding: 20px;
  }
  
  .ant-card.categoryCard {
    width: 218px;
    margin: 20px 20px 20px 0;
    border-radius: 20px;
  
    .ant-card-body {
        padding: 0;
    }
  
    .ant-card-cover {
        img {
            border-radius: 20px;
        }
    }
  
    .mask {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.267);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        .title {
            color: white;
            font-size: 25px;
            text-align: center;
            margin: 20px;
        }
  
        &:hover {
            background-color: rgba(0, 0, 0, 0.384);
  
            .title {
                font-size: 30px;
            }
        }
    }
  }