#footer {
  background-color: #ffffff;
  border-top: 1px solid rgb(212, 212, 212);
  height: 297px;
  font-size: 16px;
  position: relative;

  ul {
    list-style: none;
  }

  .footer-content {
    margin: 50px 0 0 0;
  }

  .footer-col-logo {
    margin-left: 39px;
    margin-right: 35px;
  }

  .footer-bottom {
    margin-top: 51px;
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }

  .title {
    font-weight: bold;
    font-size: 18px;
    margin-left: 39px;
  }

  .logo-footer {
    margin-top: -15px;
  }
}
