.upload {
    .container {
        margin-top: 73px;
    }

    .form-upload {
        width: 400px;
    }

    .title-item-upload {
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 32px;
    }

    .label {
        font-size: 15px;
        margin-bottom: 2px;
    }

    .title-item-details {
        font-weight: bold;
        font-size: 28px;
        margin: 69px 0 32px;
    }

    .description .ant-input {
        height: 150px;
    }

    .condition-weight-stock {
        display: inline-block;
        width: 100px !important;
        margin-right: 10px;
    }

    .item-condition-weight-stock .ant-input {
        height: 32px;
    }

    .button-upload .ant-btn {
        width: 140px;
        background-color: #F6F7FB;
        border: 0;
    }

    .button-submit .ant-btn {
        width: 100%;
        height: 30px;
        border-radius: 50px;
    }

    .caption-upload {
        margin-top: 10px;
        color: red;
        p{
            margin: 0;
        }
    }
}
