.upload {
  .container {
    margin-top: 73px;
    margin-bottom: 73px;
  }

  .form-upload {
    width: 400px;
  }

  .title-item-upload {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 32px;
  }

  .title-item-details {
    font-weight: bold;
    font-size: 28px;
    margin: 69px 0 32px;
  }

  .description .ant-input {
    height: 150px;
  }

  .button-upload .ant-btn {
    width: 140px;
    background-color: #f6f7fb;
    border: 0;
  }

  .button-submit .ant-btn {
    width: 100%;
    height: 30px;
    border-radius: 50px;
    margin-top: 20px;
  }

  .caption-upload {
    margin-top: 10px;
    color: red;

    p {
      margin: 0;
    }
  }
  .ant-upload {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 443px) {
  .upload {
    .form-upload {
      width: 300px;
    }

    img {
      width: 300px;
    }
  }
}
